
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Ubuntu', sans-serif;
    
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ffb6c1;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.125rem;
    --fs-small: 0.9rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25);
}

/* Generic Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 4em 4em;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.0;
    margin: 0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

/* Books */

.prog_list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 15px);
    gap: 0.5em;
    margin-top: 2em;
    margin-bottom: 3em;
}

.prog_item {
    height: 15px;
    width: 15px;
    background-color: var(--clr-accent); 
    padding: 5px;
}

.prog_item:hover {
    transform: scale(1.5);
    transition: transform 50ms ease-in-out;
}

.stat_on {
    background-color: #789A31;
}

.stat_hold {
    background-color: #FFD700;
}

.stat_conc {
    background-color: #000000;
}

.book_title {
    margin-bottom: 0.25em;
}
